.contactContainer {    
    margin: 5em 5em;
    background-color: var(--beige);
    border-radius: 3em;
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}