.contactContainer {
    box-sizing: border-box;
    width: 100%;
    margin: 5em 0;
    border-radius: 0em;
    padding: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--beige);
    gap: 5em;
}

.formContainer {
    max-width: 30em;
    flex: 2;
    /* width: 60%; */
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.formContainer button {
    all: unset;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
    border-radius: 1em;
    background-color: var(--greenish);
    color: var(--brown);
}

.sideContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    max-width: 20em;
}

.sideContainer button {
    all: unset;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
    border-radius: 1em;
    background-color: var(--greenish);
    color: var(--brown);
}

/* Form */