.header {
    width: 100%;
    height: 40vh;
    /* background: var(--primary); */
    /* background: linear-gradient(12deg, var(--primary) 0%, var(--secondary) 64%, var(--primary) 100%); */
    font-family: var(--secondaryFont);
    color: var(--white);
    position: relative;
    overflow: hidden;
}

.content {
    margin: 0 26%;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(0, -50%);
}

@media (max-width: 1920px) {
    .content {
        margin: 0 20%;
    }
}

@media (max-width: 1400px) {
    .content {
        margin: 0 15%;
    }
}

@media (max-width: 768px) {
    .content {
        margin: 0 6%;
    }
}

.content h1 {
    font-size: 2.8em;
    font-weight: 800;
}

.glitchSpan {
    color: var(--primary);
    animation: glitch 1s linear infinite;
    transition: 2s ease-in-out;
}

.glitchSpan:hover {
    transition: 150ms ease-in-out;
}

.content h2 {
    font-weight: 400;
}

.header img {
    object-fit: cover;
    /* height: 100%; */
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    filter: brightness(75%);
}

/* 
@media (max-width: 1920px) {
    .content {
        margin: 0 26%;
    }
}

@media (max-width: 1400px) {
    .content {
        margin: 0 17%;
    }
}

@media (max-width: 768px) {
    .content {
        margin: 0 8%;
    }
} */

.svg {
    width: 100px;
    position: absolute;
    animation: rotation 4.5s infinite linear;
    pointer-events: none;
    transition: top 1s, left 1s;
    transition-timing-function: ease-out;
}

.svg text {
    font-size: 4em;
    font-family: 'Poppins';
    font-weight: bold;
    fill: rgb(138, 175, 255)
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}