.projectContainer {
    margin: 5em 5em;
}

.projectsGallery {
    margin-top: 2em;
    padding: 5em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}

.projectCard {
    background-color: var(--greenish);
    border-radius: 1em;
    max-width: 40em;
    padding: 2em;
    transition: transform 0.3s ease-in-out;
}

.projectImage {
    display: block;
    height: 15em;
    max-height: 17em;
    border-radius: 1em;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.projectImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}

.projectImage button {
    all: unset;
    cursor: pointer;
    visibility: hidden;
    z-index: 3;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease-in-out;
}

.projectContent {
    z-index: 1;
    margin-top: -1.5em;
    /* padding: 0 1.5em; */
    transform: scale(0.95);
    transition: 0.3s ease-in-out;
}

.projectContent p {
    margin: 0.5em 0;
}

/* Hover effect for card */

.projectCard:hover .projectImage img {
    transform: scale(1.1);
    filter: brightness(50%) blur(2px);
    transition: 0.3s ease-in-out;
}

.projectImage:hover button {
    visibility: visible;
    transition: 0.3s ease-in-out;
}

.projectImage button:hover {
}

.projectCard:hover .projectContent {
    transform: scale(0.97);
    padding-top: 2em;
    transition: 0.3s ease-in-out;
}