.anchor {
    display: block;
    height: 5vh; /*same height as header*/
    margin-top: -5vh; /*same height as header*/
    visibility: hidden;
}

.projectsContainer {
    width: 100%;
    overflow: hidden;
    margin-top: 7rem;
}

.projectsContainer .projectsTitle {
    text-align: center;
    margin-bottom: 1.2em;
    transition: 250ms ease-in-out;
}

.projectsContainer:hover .projectsTitle {
    color: var(--primary);
    transition: 250ms ease-in-out;
}

.projectsGallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    grid-gap: 3em;
    margin-bottom: 3em;
}

.projectCard {
    border: 1px solid var(--complementary);
    background-color: var(--complementary);
    display: block;
    max-height: 25em;
    transition: 250ms ease-in-out;
}

.projectCard:hover {
    border: 1px solid var(--primary);
    transition: 250ms ease-in-out;
}

.projectContent {
    /* margin-top: 0.3em; */
    padding: 1em 1.5em 2em 1.5em;
    height: fit-content;
    margin-bottom: 0;
}

.projectCard h1 {
    color: var(--text);
    text-align: left;
    margin-bottom: 0.2em;

    display: inline-block;
    position: relative;

    transition: 150ms ease-in-out;
}

/*
.projectCard h1::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
*/

/* 
.projectCard:hover h1::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

*/

.projectCard:hover h1 {
    color: var(--primary);
    transition: 150ms ease-in-out;
}

.projectContent p {
    color: var(--lighttext);
    line-height: 1.4em;
}

.projectImage {
    height: 12em;
    max-height: 12em;
    position: relative;
}

.projectImage img {
    object-fit: cover;
    height: 100%;
    width: 100%;

    /* Showing 100% of the width while keeping aspect ratio */
    /* width: 100%;
    height: 100%; */
    
    /* vertical-align: top; */

    /* Placing the image in the center */
    /* position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    

    /* Animations */
    filter: brightness(1);
    transition: 0.3s ease-in-out;
}

/* Animation for button on image hover */

.projectImage button {
    all: unset;
    z-index: 1;
    cursor: pointer;
    color: white;
    opacity: 0;

    font-size: 1.2em;
    /* display: inline-block; */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1em solid transparent; */
    transition: 0.3s ease-in-out;
}

.projectImage button::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--primary);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.projectImage:hover button::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Show link on card hover */

.projectCard:hover img {
    filter: brightness(0.65);
    transition: 0.5s ease-in-out;
}

.projectCard:hover button {
    opacity: 1;
    transition: 0.3s ease-in-out;
}



.cardTags {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.5em;
    gap: 1em;
}

.cardTags span {
    /* Pill design */
    display: inline-block;
    padding: 0.4em 0.9em;
    border-radius: 0.8em;
    background-color: var(--primary);
    color: var(--background);
    font-size: 0.8em;
    font-family: var(--secondaryFont);
}