.projectsContainer {
    width: 100%;
    overflow: hidden;
}

.projectsGallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    grid-gap: 3em;
}

.projectCard {
    border: 1px solid #e0e0e0;
    max-height: 25em;
}

.projectContent {
    /* margin-top: 0.3em; */
    padding: 1em 1.5em 2em 1.5em;
    height: fit-content;
    margin-bottom: 0;
}

.projectContent p {
    color: #000;
    line-height: 1.5em;
}

.projectImage {
    margin: 0;
    padding: 0;
    height: 12em;
    max-height: 12em;
    position: relative;
}

.projectImage img {
    object-fit: cover;
    height: 100%;
    width: 100%;

    /* Showing 100% of the width while keeping aspect ratio */
    /* width: 100%;
    height: 100%; */
    
    /* vertical-align: top; */

    /* Placing the image in the center */
    /* position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    

    /* Animations */
    filter: brightness(1);
    transition: 0.3s ease-in-out;
}

.projectImage button {
    all: unset;
    z-index: 1;
    cursor: pointer;
    color: white;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1em solid transparent; */
    transition: 0.3s ease-in-out;
}

.projectCard:hover img {
    filter: brightness(0.75);
    transition: 0.3s ease-in-out;
}

.projectCard:hover button {
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.projectImage button:hover {
    /* border: 1em solid white; */
    transition: 0.3s ease-in-out;
}


.cardTags {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1em;
    gap: 1em;
}

.cardTags span {
    /* Pill design */
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 3em;
    background-color: #e0e0e0;
    color: #000;
    font-size: 0.8em;

}