.anchor {
    display: block;
    height: 30vh; /*same height as header*/
    margin-top: -30vh; /*same height as header*/
    visibility: hidden;
}

.container {
    width: 100%;
    margin-top: 7rem;
}

.container h1 {
    text-align: center;
    margin-bottom: 1.2em;
    transition: 250ms ease-in-out;
}

.skillsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 2.5em;
    padding: 0 0 2em 0;
    scroll-behavior: smooth;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0.25em;
}

.icon img {
    padding: 0.4em;
    width: 2.8em;
    height: auto;
    border-radius: 0.8em;
    background-color: var(--white); /* Dark theme fix */
}

.icon p {
    font-size: 0.9em;
    margin-top: 0.4em;
    font-family: var(--secondaryFont);
    white-space: nowrap;
}

/* Animations */

.container:hover h1 {
    color: var(--primary);
    transition: 250ms ease-in-out;
}