@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
  --white: #f6f8f8;
  --background: #f6f8f8;
  --complementary: #eef1f1;
  --text: #181919;
  --lighttext: #343535;
  --primary: #61ade0;
  --secondary: #4b9dd3;

  --secondaryFont: 'Poppins', sans-serif;
}

.light {
  --background: #f6f8f8;
  --complementary: #eef1f1;
  --text: #181919;
  --lighttext: #343535;
  --primary: #61ade0;
  --secondary: #4b9dd3;
}

  /* --primary: #91BEF6; 94bbe9 */
  /* --secondary: #6B92DB; */
  /* --accent: #3f5efb; */


.dark {
  --background: #151616;
  --complementary: #1b1d1d;
  --text: #f6f8f8;
  --lighttext: #dbdddd;
  --primary: #65b5eb;
  --secondary: #4898ce;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--text);
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--background);
  transition: 150ms ease-in-out;
}

/*
.skillsContainer {
    scrollbar-width: thin;
    scrollbar-color: var(--primary) var(--background);
    transform: rotateX(180deg);
    transition: 150ms ease-in-out;
}

.skillsContainer span {
    transform: rotateX(180deg);
}

.skillsContainer::-webkit-scrollbar {
  width: 12px;
}

.skillsContainer::-webkit-scrollbar-track {
background: var(--background);
}

.skillsContainer::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 12px;
  border: 2px solid var(--background);
}
*/

::-webkit-scrollbar {
  width: 12px; /* Modifies the width of the scrollbar */
  /* background: var(--background); */
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 12px;
  /* border: 2px solid var(--background); */
}

::-webkit-scrollbar-track {

}
