.content {
    display: flex;
    margin: 0 26%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media (max-width: 1920px) {
    .content {
        margin: 0 20%;
    }
}

@media (max-width: 1400px) {
    .content {
        margin: 0 15%;
    }
}

@media (max-width: 768px) {
    .content {
        margin: 0 6%;
    }
}